body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.clickable-row{ 
	cursor: pointer;
}

.ajaxDeletable{ 
	cursor: pointer;
}

.formButton{
	background-color:#01579b;
}

.toolBarButton{
	background-color:#01579b;
}